@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format('truetupe');
}

body, button, ol, li, div, p, h2 {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 100dvh;
  background: #f0db4f;
  transition: .2s;
  //background: url("./img/logo-javascript.svg") no-repeat center/contain, #F0DC4E;

  &.dark {
    background: black;
    transition: .2s;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 100%;
  color: #f0db4f;
  transition: .2s;
}

.dark {
  color: white;

  .logo {
    color: black;
    transition: .2s;
  }

  .question__text {
    color: white;
    transition: .2s;
  }

  .question-answers__item {
    background: #262626;
    color: white;
    transition: .2s;

    &:hover {
      background: #383838;
      transition: 0.2s;
    }
  }

  .container {
    color: white;
  }
}

.start-button, .button-start-again {
  padding: 15px;
  border-radius: 20px;
  background: #f0aa4f;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.button-start-again {
  margin-top: 40px;
}

.container {
  position: absolute;
  top: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media (min-width: 768px) {
    max-width: 70%;
  }

  @media (min-width: 1280px) {
    max-width: 700px;
  }
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper-image {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }

  &__image {
    width: 100%;
  }

  &-answers {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    width: 100%;
    margin-top: 20px;

    &__item {
      padding: 15px;
      border-radius: 15px;
      cursor: pointer;
      background: #efcd32;
      transition: 0.2s;
      
      &:hover {
        background: #ffd700;
        transition: 0.2s;
      }

      &.error {
        color: white;
        background: #d22727 !important;
        transition: 0.2s;
      }

      &.success {
        color: white;
        background: green !important;
        transition: 0.2s;
      }
    }
  }
}

.switch-theme {
  position: absolute;
  top: 5%;
  border-radius: 9999px;
  background: #f0aa4f;
  height: 40px;
  width: 70px;
  padding: 5px;
  cursor: pointer;
  transition: .2s;

  &.dark {
    background: #262626;
    transition: .2s;

    .switch-theme__circle {
      transform: translate(30px);
      background: black;
      transition: .2s;
    }
  }

  &__circle {
    border-radius: 9999px;
    height: 30px;
    width: 30px;
    background: #f0db4f;
    transition: .2s;
  }
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.timer {
  position: absolute;
  top: 20%;
  font-size: 20px;
}